:root {
  --font_inter: "Inter", serif;
  --font_sfPro: "SF-Pro-Display", sans-serif;

  --background: #fff;
  --foreground: #fff;
  --main_text_color: #050818;
  --accent_text_color: #007aff;
  --second_text_color: #a2acb0;

  --box_shadow: 0px 12px 28.3px 0px rgba(124, 122, 151, 0.25);
  --main_gradient: linear-gradient(180deg, #94bfff 0%, #5390ec 100%), #d9d9d9;
  --modal_overlay: rgba(235, 244, 255, 0.7);

  --icons_back: #007aff;

  --btns_back: rgba(67, 120, 255, 0.1);

  --fs_small: 14px;
  --fs_xsmall: 16px;
  --fs_medium: 18px;
  --fs_large: 24px;
  --fs_xlarge: 32px;
  --fs_mxlarge: 50px;
  --fs_xxlarge: 64px;
  --fs_xxxlarge: 72px;

  --mobile: 328px;
  --mobile_l: 360px;
  --mobile_xl: 475px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1408px;

  --container: 91.1%;
  --container_mob: 85%;

  --swiper-pagination-bottom: 16px;

  --tg-theme-button-color: #007aff !important;
}
